{% load static %}
<!-- includes/hero_feature.html -->

<div class="hero text-white text-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-md-start">
          <br>
          <h3>This Ain’t Ketchup, Baby. Call Your Momma!</h3>
          <p>We’re talking real heat—no watered-down flavors here. 
              Every bottle brings the kind of kick that makes you sweat, smile, and maybe call your momma for backup. 
              This is hot sauce with soul, made to wake up your taste buds and your memories.
          </p>
          <a href="#shop" class="btn btn-warning me-2">Shop Now</a>
  
        </div>
        <div class="col-md-6">
          <img src="{% static 'application/chatjumbo.png' %}" alt="Sauce Pouring" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  